.form {
  width: 500px;
  padding: 36px 48px;
  font-size: 14px;
  text-align: left;
  .title {
    color: #505666;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
  }
  .description {
    margin-bottom: 48px;
    font-size: 14px;
  }
  .upload {
    height: 160px;
    display: block;
    p {
      font-size: 12px !important;
    }
  }
}
