.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
  width: 60em;
  margin:0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
  text-align: left;
}

.list code {
  background: #f7f7f7;
}

article {
  position: relative;
  margin: 16px 0;
  header {
    font-size: 16px;
    font-weight: bold;
  }
}

.actions {
  top: 7px;
  right: 0;
  position: absolute;
}
