.normal {
  margin-top: 3em;
  text-align: center;
  margin: 0 auto;
}

.list {
  margin-top: 1.8em;
  list-style: none;
  margin-left: -32px;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.loading {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
