.normal {
  margin-top: 3em;
  text-align: center;
  margin: 0 auto;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
  text-align: left;
}

.loading {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
