@import '~antd/lib/style/themes/default.less';

.header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid @border-color-base;
  overflow: hidden;
  font-size: 14px;
  background: #fff;

  .headerContent {
    max-width: 1206px;
    margin: 0 auto;
  }

  .title {
    font-size: 24px;
    float: left;
  }

  .changeLocale {
    margin-left: 24px;
  }

  .right {
    float: right;
  }

  .link {
    margin-right: 24px;
  }

  .avatar {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -2px;
  }

  a {
    color: @text-color;
    &:hover {
      color: @primary-color;
    }
    > i {
      margin-right: 8px;
    }
  }
}

.container {
  max-width: 1206px;
  margin: 40px auto;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}
